- meta title: @person.name
- meta description: @person.description ? @person.description.slice(0,150) : ""

.magic-x{data: {action: 'go back'}}

.project-page-wrapper

  .project-page-header-image-wrapper
    - if @person.primary_image
      .project-page-header-image.responsive-background{ style: "background-image:url(#{@person.primary_image.name.index.url});",
                                                        data: { desktop: @person.primary_image.name.url,
                                                                mobile: @person.primary_image.name.index.url }}

  .project-page-content-wrapper
    .project-page-header-text= @person.name

    .project-page-text-wrapper
      .side-bar

        .section{ class: ('hide' if @person.educations.empty?)}
          .title Education
          - @person.educations.each do |ed|
            .project-detail-wrapper= ed.title

        .section{ class: ('hide' if @person.email.empty?)}
          .title Contact
          %a.project-detail-wrapper.underline{ href: "mailto:"+@person.email }= @person.email

        .project-page-main-text.overview.hide-on-desktop{ class: ( 'hide' if @person.location.empty? ) }
          = @person.location

        .section.roles.openable.hide-on-desktop{ class: ( 'hide' if @person.roles.empty? ) }
          .title Related Projects
          .project-detail-wrapper
            - @person.getRoles.each do |pos_title, roles|
              .project-detail-label= pos_title
              - roles.each do |role|
                %a.project-detail-text.underline-on-hover{ href: slugify(role.project) }= role.project.title

        .section.description.hide-on-desktop{ class: ( 'hide' if @person.description.empty? ) }
          .content.markdown= markdown @person.description

        .extra-space

      .desktop-content.show-on-desktop
        .project-page-main-text.overview{ class: ( 'hide' if @person.location.empty? ) }
          = @person.location

        .description.markdown{ class: ( 'hide' if @person.description.empty? ) }= markdown(@person.description)

        .section.roles{ class: ( 'hide' if @person.roles.empty? ) }
          .title Related Projects
          .project-detail-wrapper
            - @person.getRoles.each do |pos_title, roles|
              .project-detail-label= pos_title
              - roles.each do |role|
                %a.project-detail-text.underline-on-hover{ href: slugify(role.project) }= role.project.title
