<%# varibale f: project simple_form %>

<% if @edit_files %>
  
  <%= render partial: "admin/shared/form_primary_index_images", locals: {f: f} %>

  <%= render partial: "admin/shared/form_images", locals: {f: f} %>

  <!-- Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="ImageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="embedModalLabel">Images</h5>
        </div>
        <div class="modal-body">
          <p>In the gallery below, select the toggle for primary and index. The primary image will be the header image for this projects page. The index image will be the image that shows up in the index, eg /project page</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

<% else %>
  
  <%= render partial: "admin/projects/formpartials/form_basic_info", locals: {f: f} %>

  <%= render partial: "admin/projects/formpartials/form_roles", locals: {f: f} %>

  <%= render partial: "admin/projects/formpartials/form_section_type", locals: {f: f} %>

  <%= render partial: "admin/projects/formpartials/form_awards", locals: {f: f} %>

  <%= render partial: "admin/projects/formpartials/form_bibliography", locals: {f: f} %>

  <%= render partial: "admin/projects/formpartials/form_for_components", locals: {f: f} %>

  <%= render partial: "admin/projects/formpartials/form_for_embedded_objects", locals: {f: f} %>

<% end %>
