- meta title: @project.title

.magic-x{data: {action: 'go back'}}

.project-page-wrapper

  .project-page-header-image-wrapper
    .project-page-header-image{ style: "background-image:url(#{@project.primary_image.name.url});"}

  .project-page-content-wrapper
    .project-page-header-text= @project.title

    .project-page-text-wrapper
      .side-bar
        .project-detail-wrapper.location
          .project-detail-label Location:
          .project-detail-text= @project.address

        .project-detail-wrapper.types
          .project-detail-label Types:
          - @project.project_types.each do |type|
            .project-detail-text= type.title

        .project-detail-wrapper.date
          .project-detail-label Dates:
          .project-detail-text= [ @project.start.year, @project.end.year ].join('-')

        .project-page-main-text.overview.hide-on-desktop= @project.overview

        .section.credits.openable.closed
          .title Project Credits
          - @project.roles.each do |role|
            .project-detail-wrapper.role
              .project-detail-label= role.position.title + ":"
              .project-detail-text= role.person.name

        .description.hide-on-desktop.openable.closed 
          .content= markdown @project.description

        .section.awards.openable.closed
          .title Recognition
          - @project.awards.group_by(&:year).sort_by{|y,i| y}.reverse.each do |group|
            .project-detail-wrapper.award
              .project-detail-label= group.first
              - group.last.each do |award|
                .project-detail-text= award.title

        .section.bibliography.openable.closed
          .title Bibliography
          - @project.bibliography_items.each do |bib|
            .project-detail-wrapper.bib
              .project-detail-text= bib.title
              -#- if bib.primary_image
                -#.project-detail-image{ style: "background-image:url(#{bib.primary_image.name.thumb.url});"}= bib.title

        .image-galleries.hide-on-desktop

      .desktop-content.show-on-desktop
        .project-page-main-text.overview= @project.overview

        .description= markdown(@project.description)

        -@project.getGalleries.each do |gallery_name, gallery_images|
          .section.image-gallery
            .title= gallery_name
            .gallery-wrapper
              .arrow-left
              .arrow-right
              .gallery
                -gallery_images.each do |image|
                  %img.slide{src: image.name.thumb.url, data:{original_src: image.name.url, original_src_width: image.width, original_src_height: image.height} }
