<% content_for :head do %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.js"></script>
<% end %>

<%= simple_form_for @person, :url => admin_person_path(@person) do |f| %>
  <div class='row' id="anchor-image-preview">
    <div class='col-md-12'>

      <div class='col-md-10'>
        <h2><%= @title %></h2>
      </div>
      <% if @person.is_ucla_team %>
        <div class='col-md-2 align-bottom'>
          <%= f.check_box :is_published, class: 'fancy-checkbox', data: 
            {
            "on-color": "success",
            "on-text": "Publish",
            "off-text": "Draft"
            } 
          %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render :partial => 'admin/people/form', :locals => { :f => f } %>

  <%= render :partial => 'admin/shared/form_buttons', :locals => { f: f, item: @person } %>

<% end %>
