<div class='row' id="anchor-embeds">
  <div class='col-md-12'>
    <div class='panel panel-default'>
      <div class="panel-heading">

        <h3 class="panel-title">
          <div class="clearfix">
          <span> Embeds </span>
          <button class="btn btn-sm btn-info pull-right" type="button" data-toggle="modal" data-target="#embedModal">Teach me!</button>
          </div>
        </h3>
      </div>
      <div class='panel-body'>

        <% f.object.embedded_objects.group_by(&:embed_type).each do |embed_type, embed_group| %>
          <div class='row'>
            <div class='col-md-12'>
              <div class='panel panel-default'>
                <div class="panel-heading">
                  <h3 class="panel-title"><%= embed_type ? embed_type.title : "No Type" %></h3>
                </div>
                <div class='panel-body'>
                  <table class='table'>
                    <thead>
                      <tr>
                        <th> Rank </th>
                        <th> UID </th>
                        <th> Type </th>
                        <th> Title </th>
                        <th> &nbsp; </th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= f.fields_for :embedded_objects, embed_group.sort_by{|i| i.rank} do |builder| %>
                        <tr>
                          <td>
                            <%= builder.input :rank, label:false, input_html: {:style => 'width: 65px'}   %>
                          </td>
                          <td>
                            <%= builder.input :uid, label:false %>
                          </td>
                          <td>
											      <%= builder.association :embed_type, label: false, collection: EmbedType.order(title: :asc), include_blank: true, input_html: {class: 'chosen-select assoc'} %>
                          </td>
                          <td>
                            <%= builder.input :title, label:false %>
                          </td>
                          <td>
                            <%= builder.check_box :_destroy, class: 'fancy-checkbox', data: 
                              {
                                "on-color": "danger",
                                "on-text": "#{fa_icon "trash-o"}",
                                "off-text": "#{fa_icon "trash-o"}"
                              }
                            %>
                          </td>
                        </tr>
                      <% end  %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        <% end %>

        <%= link_to_add_fields "Add Embed", f, :embedded_objects %>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="embedModal" tabindex="-1" role="dialog" aria-labelledby="EmbedModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EmbedModalLabel">Adding Embeds</h5>
      </div>
      <div class="modal-body">
        <p><strong>Video embeds</strong> need a Youtube UID which should look like: <strong>2A8yRNePbs8</strong></p>
        <p><strong>Issuu embeds</strong> need an issuu.com UID which should look like: <strong>28431577/44903178</strong></p>
        <p><strong>StoryMap embeds</strong> need a UID which is the url to the story map, ex: <strong>http://story.maps.arcgis.com/apps/StorytellingSwipe/index.html?appid=459ff1719f5f427180cd8b793894052b</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
