!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = metamagic site: "Now Institute", title: [:title, :site], separator: " — "
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}
    %meta{name: "previous-page", content: @ref || '' }

    = javascript_include_tag 'front'
    = stylesheet_link_tag    'front', media: 'all'
    = csrf_meta_tags
    = render 'layouts/front/footer'
  %body
    .container{class: ( 'white' if @white_menu )}

      = render 'layouts/front/menu' unless ( @no_menu  )
      = yield
    %script{src: "//platform.twitter.com/widgets.js", charset:"utf-8", async:true }
