!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Now Institute
    = stylesheet_link_tag    'front', media: 'all'
    = javascript_include_tag 'front'
    = csrf_meta_tags
  %body
    = render 'layouts/front/menu'
    = yield
